# os x finder
.DS_Store

#swift pm
/.build
/Packages
xcuserdata/


# xcode 3
*.mode1v3
*.pbxuser

# xcode 4
xcuserdata

# xcode 5
# xcshareddata - We actually do want xcshareddata, it is meant to be shared. -Don
*.xccheckout
*.xcscmblueprint

# svn
.svn

# emacs backup files
*~

# build directory
build

# some artifacts
*.o
*.lev

# python
env/

# fastlane
fastlane/report.xml

# CoreML
*.mlmodel

# fastlane readme
fastlane/README.md
fastlane/test_output

deliver/Preview.html

# Carthage
Carthage/Checkouts


